@page-light-color: #63d1bb;
@page-dark-color: #56c3b2;
@page-form-color: #62d1ba;
@page-footer-color: #f1f1f1;
@page-gray-color: #444444;
@page-white-color: #ffffff;
@page-border-color: #ececec;
@page-black-color: #000000;
@page-modal-color: #c7c7c7;
@catalog-border-color: #ededed;

@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1150px)";
