.catalog-items__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  margin: auto;
}

.catalog-items__header {
  width: 100%;
  background-color: @page-footer-color;
  padding-top: 73px;
  padding-bottom: 73px;
  text-align: center;
  border-top: 1px solid @page-border-color;
}

.catalog-items__title {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
}

.catalog-item {
}

.catalog-item__description {
  padding: 28px;
  border: 1px solid @catalog-border-color;
}

.catalog-item__title {
  margin: 0 0 8px 0;
  font-size: 17px;
  font-weight: bold;
  & a{
    color: @page-black-color;
  }

}

.catalog-item__info {
  font-size: 13px;
  line-height: 30px;
  color: @page-gray-color;
}

.catalog-item__buy {
  padding: 27px 0 30px 0;
}

.catalog-item__image {
  display: block;
  line-height: 0;
  font-size: 0;
}
