.contacts {
  position: relative;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 23px;
    background: @page-white-color url("../img/bg-zigzag-line.svg") repeat-x;
    background-size: 100%;
  }
}

.contacts__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 30px;
}

.contacts__btn-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 30px;
}

.contacts__map {
  width: 100%;
  height: 457px;
  background: @page-white-color url("../img/map-mobile@1x.jpg") no-repeat 50% 0;
  margin: 0 auto;
}

@media (min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  .contacts__map {
    background-image: url("../img/map-mobile@2x.jpg");
  }
}

.contacts__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.contacts__info {
  font-size: 15px;
  line-height: 30px;
  color: @page-gray-color;
  & td {
    padding: 10px 0;
    vertical-align: top;
  }
}

.contacts__col {
  width: 78px;
}

.contacts__email {
  color: @page-gray-color;
}

@media @tablet-widths {
  .contacts__wrapper {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .contacts__map {
    background: @page-white-color url("../img/map-tablet@1x.jpg") no-repeat 50% 0;
  }

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .contacts__map {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  .contacts__btn-wrapper {
    width: 768px;
  }

  .contacts__title {
    .title-tablet();
  }

  .contacts__info {
    font-size: 17px;
    display: block;
    & tbody {
      display: flex;
    }
    & tr {
      display: block;
      width: 50%;
    }
    & td {
      padding-right: 24px;
    }
  }

  .contacts__btn {
    margin: 20px auto;
    width: 33%;
  }
}

@media @desktop-widths {
  .contacts {
    position: relative;
  }

  .contacts__wrapper {
    width: 1150px;
    padding-left: 225px;
    padding-top: 80px;
    margin-top: 50px;
  }

  .contacts__title {
    .title-desktop();
  }

  .contacts__map {
    background: @page-white-color url("../img/map-desktop@1x.jpg") no-repeat 0 0;
  }

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .contacts__map {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }

  .contacts__info {
    display: table;
    width: 40%;
    & tbody {
      display: table-row-group;
    }
    & tr {
      display: table-row;
    }
    & td {
      padding-right: 24px;
      padding-bottom: 18px;
    }
  }

  .contacts__map {
    position: absolute;
    top: 80px;
    left: 50%;
  }

  .contacts__btn {
    margin: 0;
    width: 230px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}
