.features {
  position: relative;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 30px;
    background: @page-white-color url("../img/bg-zigzag-line.svg") repeat-x;
    background-size: auto 7px;
  }
}

.features__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 30px;
}

.features__title {
  .title();
  margin-top: 8px;
  margin-bottom: 6px;
}

.features__items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.features__item {
  position: relative;
  display: inline-block;
  padding-top: 82px;
  font-size: 17px;
  line-height: 1.15em;
  font-weight: bold;
  &::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 40px;
    fill: @page-light-color;
  }
  &--flower::before {
    content: url("../img/icon-feature-1.svg");
    top: 27px;
    left: 9px;
  }
  &--money::before {
    content: url("../img/icon-feature-3.svg");
    top: 28px;
    left: 1px;
  }
  &--heart::before {
    content: url("../img/icon-feature-5.svg");
    top: 33px;
    left: 8px;
  }
  &--ball::before {
    content: url("../img/icon-feature-2.svg");
    top: 29px;
    left: 4px;
  }
  &--rocket::before {
    content: url("../img/icon-feature-4.svg");
    top: 31px;
    left: -4px;
  }
  &--gift::before {
    content: url("../img/icon-feature-6.svg");
    top: 28px;
    left: 5px;
  }
}

@media @tablet-widths {
  .features {
    &::before {
      background-size: auto 17px;
    }
  }

  .features__wrapper {
    width: 768px;
    padding: 61px 50px 48px 50px;
  }

  .features__title {
    .title-tablet();
    margin-bottom: 21px;
  }

  .features__items {
    flex-direction: row;
  }

  .features__items-half {
    width: 50%;
  }

  .features__item {
    font-size: 20px;
    padding-right: 36px;
    padding-top: 80px;
    padding-bottom: 30px;
  }
}

@media @desktop-widths {
  .features {
    &::before {
      top: -10px;
      background-size: auto 23px;
    }
  }

  .features__wrapper {
    width: 1150px;
    padding-left: 225px;
    padding-right: 225px;
    padding-bottom: 54px;
  }

  .features__title {
    .title-desktop();
  }
}
