.features {
  width: 100%;
  padding: 30px;
}

.features__title {
  font-size: 25px;
  line-height: 30px;
  padding-top: 13px;
}

.features__item {
  display: inline-block;
  padding-top: 87px;
  font-size: 17px;
  font-weight: 700;
}
