.features {
  width: 100%;
}

.features__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 30px;
}

.features__title {
  .title();
}

.features__items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.features__item {
  position: relative;
  display: inline-block;
  padding-top: 87px;
  font-size: 17px;
  font-weight: bold;
  &::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 40px;
    top: 33px;
    left: 0;
    fill: @page-light-color;
  }
  &--flower::before {
    content: url("../img/icon-feature-1.svg")
  }
  &--money::before {
    content: url("../img/icon-feature-3.svg")
  }
  &--heart::before {
    content: url("../img/icon-feature-5.svg")
  }
  &--ball::before {
    content: url("../img/icon-feature-2.svg")
  }
  &--rocket::before {
    content: url("../img/icon-feature-4.svg")
  }
  &--gift::before {
    content: url("../img/icon-feature-6.svg")
  }
}

@media @tablet-widths {
  .features__wrapper {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 80px;
  }

  .features__title {
    .title-tablet();
  }

  .features__items {
    flex-direction: row;
  }

  .features__items-half {
    width: 50%;
  }

  .features__item {
    font-size: 20px;
    padding-right: 36px;
  }
}

@media @desktop-widths {
  .features__wrapper {
    width: 1150px;
    padding-left: 225px;
    padding-right: 225px;
  }

  .features__title {
    .title-desktop();
    margin-bottom: 0;
  }

  .features__item {
    padding-top: 105px;
  }
}
