.goods {
  width: 100%;
}

.goods__wrapper {
  width: 320px;
  margin: 0 auto;
}

.goods__header {
  background: url("../../img/hero-mobile@1x.jpg") no-repeat 50% 0;
  padding: 55px 36px 104px 36px;
  text-align: center;
}

.goods__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
}

.goods__items {
  display: flex;
  flex-direction: column;
}

.goods__item {
  &--interior {
    background-color: @page-light-color;
  }
  &--toys {
    background-color: @page-dark-color;
  }
  & a {
    color: @page-white-color;
    display: block;
    padding: 25px 75% 30px 29px;
  }
  & h2 {
    font-size: 19px;
    margin: 0;
  }
}

@media @tablet-widths {
  .goods__wrapper {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .goods__header {
    padding-top: 134px;
    padding-bottom: 353px;
  }

  .goods__title {
    .title-tablet();
  }

  .goods__items {
    flex-direction: row;
    & a {
      padding-left: 36px;
    }
  }

  .goods__item {
    width: 50%;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }
}

@media @desktop-widths {
  .goods__wrapper {
    width: 1150px;
  }

  .goods__header {
    padding-left: 218px;
    padding-right: 218px;
  }

  .goods__title {
    .title-desktop();
  }
}
