.goods {
  width: 100%;
}

.goods__header {
  background: url("../../img/hero-mobile@1x.jpg") no-repeat 50% 0;
  padding: 74px 22% 127px 22%;
  text-align: center;
}

.goods__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
}

.goods__items {
  display: flex;
  flex-direction: column;
}

.goods__item {
  &--interior {
    background-color: @page-light-color;
  }
  &--toys {
    background-color: @page-dark-color;
  }
  & a {
    color: @page-white-color;
    display: block;
    padding: 30px 75% 31px 29px;
  }
  & h2 {
    font-size: 19px;
    margin: 0;
  }
}

@media @tablet-widths {
  .goods {
    padding: 0 50px;
  }

  .goods__header {
    padding-top: 134px;
    padding-bottom: 353px;
  }

  .goods__title {
    font-size: 43px;
    line-height: 50px;
  }

  .goods__items {
    flex-direction: row;
    & a {
      padding-left: 36px;
    }
  }

  .goods__item {
    width: 50%;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }
}

@media @desktop-widths {
  .goods__title {
    font-size: 53px;
    line-height: 57px;
  }
}
