.order {
  width: 100%;
}

.order__header {
  width: 100%;
  text-align: center;
  background-color: @page-footer-color;
  padding: 71px 30px 75px 38px;
  border-top: 1px solid @page-border-color;
}

.order__title {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
}

.order__subtitle {
  width: 320px;
  margin: 0 auto;
  padding: 25px 30px 25px 30px;
  & p {
    margin: 0;
  }
  font-size: 13px;
  color: @page-gray-color;
}

@media @tablet-widths {
  .order__header {
    padding: 63px 188px 70px 190px;
  }

  .order__title {
    .title-tablet();
  }

  .order__subtitle {
    width: 768px;
    padding: 50px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media @desktop-widths {
  .order__title {
    .title-desktop();
  }

  .order__header {
    padding: 102px 334px 94px 338px;
  }

  .order__subtitle {
    width: 1150px;
    padding: 130px 224px 50px 224px;
  }
}
