.page-footer {
  width: 100%;
  background-color: @page-footer-color;
}

.page-footer__wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.page-footer__icon-logo {
  &:hover {
    fill: @page-icon-hover-color;
  }
  &:active {
    fill: @page-icon-active-color;
  }
}

.page-footer__social {
  padding-top: 24px;
  padding-bottom: 27px;
}

.social__items {
  display: flex;
  justify-content: space-between;
  width: 142px;
  margin: 0 auto;
}

.social__item {
  display: block;
  font-size: 0;
  height: 29px;
  &--tw,
  &--in {
    padding-top: 5px;
  }
}

.social__icon {
  &:hover {
    fill: @page-icon-hover-color;
  }
  &:active {
    fill: @page-icon-active-color;
  }
}

.page-footer__copyright {
  padding: 0 30px;
}

.page-footer__copyright-link {
  position: relative;
  display: block;
  padding-top: 27px;
  padding-bottom: 31px;
  padding-left: 38px;
  font-size: 18px;
  line-height: 19px;
  font-weight: bold;
  color: @page-black-color;
  border-top: 1px solid @page-footer-border;
  &:active {
    color: @page-text-active-color;
  }
}

.page-footer__logo {
  display: none;
}

.page-footer__icon-htmlacademy {
  position: absolute;
  top: 18px;
  right: 30px;
  fill: @page-light-color;
  &:hover {
    fill: @page-icon-hover-color;
  }
  &:active {
    fill: @page-icon-active-color;
  }
}

@media @tablet-widths {
  .page-footer__wrapper {
    width: 768px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px 30px 50px;
  }

  .page-footer__logo {
    display: block;
    width: 218px;
  }

  .page-footer__social {
    padding: 0;
    width: 210px;
  }

  .page-footer__copyright {
    padding: 0;
    width: 220px;
    text-align: left;
  }

  .page-footer__copyright-link {
    border-top: none;
  }

  .page-footer__icon-htmlacademy {
    right: -8px;
  }
}

@media @desktop-widths {
  .page-footer__wrapper {
    width: 1150px;
  }
}
