.page-footer {
  width: 100%;
  background-color: @page-footer-color;
}

.page-footer__wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.page-footer__icon-logo {
  &:hover {
    fill: @page-icon-hover-color;
  }
  &:active {
    fill: @page-icon-active-color;
  }
}

.page-footer__social {
  padding-top: 24px;
  padding-bottom: 27px;
}

.social__items {
  display: flex;
  justify-content: center;
  & li:nth-child(1),
  & li:nth-child(2) {
    margin-right: 30px;
  }
  
}

.social__item {
  display: block;
  font-size: 0;
  width: 29px;
  height: 29px;
}

.social__icon {
  &:hover {
    fill: @page-icon-hover-color;
  }
  &:active {
    fill: @page-icon-active-color;
  }
}

.page-footer__copyright {
  padding-top: 27px;
  padding-bottom: 31px;
  padding-left: 65px;
}

.page-footer__copyright-link {
  position: relative;
  font-size: 18px;
  line-height: 19px;
  font-weight: bold;
  color: @page-black-color;
  &:active {
    color: @page-text-active-color;
  }
}

.page-footer__logo {
  display: none;
}

.page-footer__icon-htmlacademy {
  position: absolute;
  top: -6px;
  right: -80px;
  fill: @page-light-color;
  &:hover {
    fill: @page-icon-hover-color;
  }
  &:active {
    fill: @page-icon-active-color;
  }
}

@media @tablet-widths {
  .page-footer__wrapper {
    width: 768px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__copyright,
  .page-footer__social {
    padding: 0;
  }
}

@media @desktop-widths {
  .page-footer__wrapper {
    width: 1150px;
  }
}
