.reviews {
  width: 100%;
}

.reviews__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.reviews__title {
  .title();
}

.reviews__item {
  margin: 0;
  & p {
    color: @page-gray-color;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 26px;
  }
}

.reviews__cite {
  display: flex;
  flex-direction: column;
}

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}

.reviews__author-nickname {
  color: @page-gray-color;
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
}

.reviews__btns {
  display: flex;
}

.reviews__slider-btn {
  width: 50%;
  font-size: 0;
  margin: 38px auto;
  padding: 25.5px 65px;
  background-color: @page-white-color;
  border: none;
  outline: 1px solid @page-black-color;
}

@media @tablet-widths {
  .reviews__wrapper {
    position: relative;
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 79px;
    padding-bottom: 50px;
    background: url("../img/review@1x.jpg") 0 50% no-repeat;
  }

  .reviews__title {
    .title-tablet();
    margin: 0 0 50px 0;
  }

  .reviews__btn {
    position: absolute;
    top: 86px;
    right: 50px;
    padding: 12px 40px 12px 46px;
  }

  .reviews__btns {
    position: absolute;
    bottom: 52px;
    right: 50px;
  }

  .reviews__slider-btn {
    margin: 0;
  }

  .reviews__item p {
    font-size: 17px;
    margin-bottom: 50px;
  }
}

@media @desktop-widths {
  .reviews__wrapper {
    width: 1150px;
    padding-left: 225px;
    padding-bottom: 100px;
    padding-right: 150px;
    background-position: 50px 50%;
  }

  .reviews__title {
    .title-desktop();
  }

  .reviews__item p {
    margin-bottom: 40px;
  }

  .reviews__btn {
    top: 90px;
  }

  .reviews__btns {
    bottom: 100px;
  }
}
