.reviews {
  width: 100%;
  padding: 30px;
}

.reviews__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.reviews__item {
  margin: 0;
  & p {
    color: #444444;
    font-size: 15px;
    line-height: 30px;
  }
}

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}

.reviews__author-nickname {
  color: #444444;
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
}

.reviews__btns {
  display: flex;
}

.reviews__slider-btn {
  width: 50%;
  font-size: 0;
  margin: 38px auto;
  padding: 25.5px 65px;
  background-color: #ffffff;
  border: 1px solid #ececec;
}
