.reviews {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.reviews__title {
  .title();
}

.reviews__item {
  margin: 0;
  & p {
    color: @page-gray-color;
    font-size: 15px;
    line-height: 30px;
  }
}

.reviews__cite {
  display: flex;
  flex-direction: column;
}

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}

.reviews__author-nickname {
  color: @page-gray-color;
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
}

.reviews__btns {
  display: flex;
}

.reviews__slider-btn {
  width: 50%;
  font-size: 0;
  margin: 38px auto;
  padding: 25.5px 65px;
  background-color: @page-white-color;
  border: 3px solid @page-border-color;
}

@media @tablet-widths {
  .reviews {
    padding-top: 79px;
    padding-bottom: 50px;
    background: url("../img/review@1x.jpg") 0 50% no-repeat;
  }

  .reviews__wrapper {
    position: relative;
  }

  .reviews__title {
    .title-tablet();
    margin: 0 0 50px 0;
  }

  .reviews__btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 40px 12px 46px;
  }

  .reviews__btns {
    position: absolute;
    bottom: 0;
    right: 0;
    // padding: 12px 40px 12px 46px;
  }

  .reviews__slider-btn {
    margin: 0;
  }

  .reviews__cite {
    // margin-bottom: 53px;
  }

  .reviews__item p {
    font-size: 17px;
    margin-bottom: 50px;
  }
}
