.weekly {
  width: 100%;
  padding: 30px;
}
.weekly__title {
  font-size: 25px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 4px;
}

.weekly__subtitle {
  color: @page-light-color;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.weekly__info {
  font-size: 15px;
  color: @page-gray-color;
}

.weekly__description {
  border-collapse: collapse;
  margin-bottom: 29px;
  color: @page-gray-color;
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  & td {
    padding: 10px 34px 10px 0;
    border-bottom: 1px solid @page-border-color;
  }
}

.weekly__price {
  display: block;
  margin: 20px auto;
  color: @page-gray-color;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}
