.weekly {
  width: 100%;
  padding: 30px;
}

.weekly__title-wrapper {
  display: flex;
  flex-direction: column;
}

.weekly__title {
  .title();
  margin-top: 0;
  margin-bottom: 4px;
}

.weekly__subtitle {
  color: @page-light-color;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.weekly__info {
  font-size: 15px;
  color: @page-gray-color;
}

.weekly__description {
  border-collapse: collapse;
  margin-bottom: 29px;
  color: @page-gray-color;
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  & td {
    padding: 10px 34px 10px 0;
    border-bottom: 1px solid @page-border-color;
  }
}

.weekly__price {
  display: block;
  margin: 20px auto;
  color: @page-gray-color;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

@media @tablet-widths {
  .weekly {
    padding-left: 50px;
    padding-right: 50px;
  }

  .weekly__wrapper {
    position: relative;
    & img {
      position: absolute;
      top: 106px;
      right: 0;
    }
  }

  .weekly__title-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .weekly__title {
    .title-tablet();
  }

  .weekly__subtitle {
    width: 100px;
    padding-top: 12px;
    text-align: center;
  }

  .weekly__info {
    width: 40%;
    font-size: 17px;
    line-height: 30px;
    margin-top: 44px;
    margin-bottom: 34px;
  }

  .weekly__description {
    width: 40%;
  }

  .weekly__buy {
    width: 40%;
    margin-top: 50px;
  }

  .weekly__price {
    font-size: 20px;
  }
}

@media @desktop-widths {
  .weekly__title-wrapper {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .weekly__title {
    .title-desktop();
  }

  .weekly__subtitle {
    margin-right: 39px;
    margin-left: 34px;
    margin-top: 5px;
  }

  .weekly__info-wrapper,
  .weekly__buy {
    margin-left: 175px;
  }

  .weekly__description,
  .weekly__buy,
  .weekly__info {
    width: 30%;
  }

}
